$bg-default               : #157239;
$bg-whitle                : #ffffff;

$color-default            : #333333;
$color-body               : #dddddd;
$color-white              : #ffffff;
$color-black              : #000;
$color-hover              : #b3bc20;
// menu

$height_nav               : 80px;
$nav-margin-top           : $height_nav - 34px;

$height_company_block     : 400px;
$height_product_block_item: 250px;
$height_dropdown          : 80px*3;