*{
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif
}

body{
   background-color: $color-white;
}

.container {
    width: 100% !important;
    padding: 0;
    // max-width: 1350px !important;
}
ul{
	list-style-type: none;
}
.p-0{padding: 0}
