.menu {
	min-height: $height_nav;
	// padding: 0 15px;
	background-color: $bg_default;
	border: none;
    margin: 0 auto;
    // max-width: 1280px;s
	.navbar-brand {
		color: $color-white;
		padding: 0 15px;
		height: $height_nav;
		line-height: $height_nav;
		&:hover, &:focus {
			color: $color_font;
		}
	}

	.navbar-text {
		color: $color-white;
	}

	.navbar-nav {
		> li {
			> a {
				font-size: 16px; 
				color: $color-white;
				&:focus{
					color: $color-white;
					background-color: $bg_default;
				}
				&:hover{
					color: #333;
					background-color: #fff;
				}
			}
		}
	}

	.navbar-toggle {
		/* (80px - button height 34px) / 2 = 23px */
		@include calc(margin-top, $nav-margin-top/2);
	
		padding: 9px 10px !important;
		border-color: $bg-whitle;
		&:hover {
			background-color: $bg_default;
		}
		&:focus {
			background-color: $bg_default;
		}
		.icon-bar {
			background-color: $color-white; 
		}
	}
	.navbar-collapse,
	.navbar-form {
		border-color: $color-white; 
	}
	.navbar-link {
		color: $color-white;
		&:hover {
			color: $color_font;
		}
	}
}

@media (min-width: 767px) {
	.menu{
		.navbar-collapse{
			padding-right: 65px;
		}
		.navbar-brand{

		}
		.navbar-nav {
			//float: none;
			//display: inline-block;
			.root-menu{
				span{
					position: absolute;
					right: 4%;
					top: 34%;
				}
				&:focus > a > span > i:before,
				&:hover > a > span > i:before{
					content: "\f0d7";
				}
				ul{
					background-color: #fff;
				    visibility: hidden;
				    opacity: 0;
				    position: absolute;
				    -webkit-transition: all .4s ease-in-out;
				    -moz-transition: all .4s ease-in-out;
				    -ms-transition: all .4s ease-in-out;
				    -o-transition: all .4s ease-in-out;
				    transition: all .4s ease-in-out;
				    min-width: 250px;
				    z-index: 99;
				    padding: 0;
				    li{
				    	position:relative;
				    	border-bottom: 1px solid #d9d9d9;
				    	&:hover {
				    		background-color: #f5f5f5;
				    	}
				    	&:hover > a > span > i:before{
							content: "\f0da";
						}
	    				a{
	    					border: 0;
							padding: 20px 24px;
							display: block;
							clear: both;
							color: #333;
							font-size: 16px;
							//text-align: left;
	    					&:hover{
	    						background-color: #f5f5f5;
	    					}
	    					
	    				}
				    }
				    ul{
				    	margin-left: 2px;
				    	left: 100%;
				    	top: 0;
				    }
				}
			}
			
			li {
				
				&:hover > a{
					background-color: #fff;
					color: #333;
				}
				&:hover > ul{
					visibility: visible;
					opacity: 1;
				}
				> a {
			    	/* (80px - line-height of 27px) / 2 = 26.5px */
					padding: 26.5px 20px;
				    line-height: 27px;
			    }
			}
		}
	}
	
}
@media (max-width: 767px) {
	.mobile-p-0{
		padding: 0;
	}
	.menu{
		.navbar-nav {
			.root-menu{
				a{
					line-height: 16px;
				}
				ul{
					
					li{
						padding-left: 30px;
						a{
							display: block;
							color: #f2f2f2;
							padding: 5px 0;
							span > i:before{
								content: "\f0da"
							}
						}
					}
				}
			}
		}
	}
}