.main{
	&-item {
		background-color: $color-white;
		margin: 20px 0;
		&__head{
			background-color: $bg-default;
    		text-align: center;
		    padding: 15px 0;
		    font-weight: bold;
		    color: #fff;
		    font-size: 19px;
		    margin-bottom: 10px;
		}
		&__content{
			.company{
				overflow: hidden;
				margin-bottom: 20px;
				&__item{
					margin-top: 5px;
					position: relative;
				    border: 1px solid $bg-default;
					overflow: hidden;
					height: $height_company_item;
				}
				&__name{
					display: block;
					width: 100%;
					bottom: 0;
					background: rgba(0,0,0,.7);
				    position: absolute;
				    bottom: 0;
				    left: 0;
				    right: 0;
				    height: 50px;
				    line-height: 56px;
				    padding-left: 15px;
				    a{
				    	margin: 0;
					    padding: 0;
					    font-size: 100%;
					    vertical-align: baseline;
					    background: transparent;
				    	color: $color-white;
						font-weight: bold;
						font-size: 16px;
						transition: .5s;
				    	&:link{
				    		text-decoration: none;
				    	}
				    	&:hover{
				    		color: $color-hover;
				    	}
				    }
				}
				&__img{
					height: $height_company_item;
					margin: 0;
					padding: 0;
					background: #fff;
					overflow: hidden;
					img{
						height: $height_company_item;
						width: 100%;
						-webkit-transform: rotate(0) scale(1);
						transform: rotate(0) scale(1);
						-webkit-transition: .8s ease-in-out;
						transition: .8s ease-in-out;
						&:hover{
							-webkit-transform: rotate(15deg) scale(1.4);
							transform: rotate(15deg) scale(1.4);
						}
					}
				}
			}
			.product-content{
				&__title{
					h3{
						font-weight: bold;
						text-transform: uppercase;
						color: $bg-default;
					}
				}
			}
			.pr-block{
				@extend .company;
				&__item{
					@extend .company__item;
					height: $height_product_block_item;
				}
				&__name{
					@extend .company__name;
					bottom: unset;
					top: 0;
					background: rgba(0, 0, 0, 0.5);
				}
				&__img{
					@extend .company__img;
					height: $height_product_block_item;
					img{
						height: $height_product_block_item;
						width: 100%;
						-webkit-transform: scale(1);
						transform: scale(1);
						-webkit-transition: .3s ease-in-out;
						transition: .3s ease-in-out;
						&:hover{
							-webkit-transform: scale(1.3);
							transform: scale(1.3);
						}
					}
				}
			}
			
		}
	}
}