.main{
	padding-bottom: 20px;
	.company-block{
		padding-top: 20px;
		overflow: hidden;
		&__item{
			padding: 0 5px;
		}
		&__name{
			@include line-clamp(40px,1);
			font-weight: 700;
			font-size: 16px;
			padding: 0 10px;
			background-color: $bg_default;
			a{
				color: #fff;
				&:hover{
					color: #4d4dff;
				}
			}
		}
		&__img{
			overflow: hidden;
			padding: 10px 0;
			img{
				width: 100%;
				-webkit-transform: scale(1);
				transform: scale(1);
				-webkit-transition: .3s ease-in-out;
				transition: .3s ease-in-out;
				&:hover{
					-webkit-transform: scale(1.3);
					transform: scale(1.3);
				}
			}
		}
		&__text{
			padding: 0 10px 0;
		}
	}
	.business{
		padding-top: 25px;
		&__title{
			margin-bottom: 10px;
			h3{
				font-size: 20px;
				margin: 0;
				color: #fff;
				font-weight: bold;
				padding: 0 20px 0 10px;
				position: relative;
				background-color: $bg-default;
				line-height: 42px;
				height: 42px;
				width: -moz-max-content;
				width: -webkit-max-content;
				width: -o-max-content;
				width: max-content;
				&:after{
					content: "";
					background: $bg-default;
					width: 42px;
					height: 42px;
					display: block;
					position: absolute;
					top: 0;
					left: 100%;
					border-top: 42px solid white;
					border-left: 42px solid transparent;
				}
			}
		}
		&__content{
			.box_newsCategoryHome{
				.p-custom{padding: 0 20px}
				.box_title{
					text-transform: uppercase;
					font-weight: 500;
					text-align: center;
					padding: 20px 0px 10px;
					font-size: 19px;
					a{
						color: $color_font;
					}
				}
				.images{
					overflow: hidden;
					img{
						width: 100%;
						height: 250px;
					}
				}
				.title{
					font-size: 14px;
					padding: 10px 0;
					border-bottom: 1px dotted #518bbb;
					a{
						color: #333;
					}
				}
				.readMore{
					font-size: 14px;
					padding-top: 15px;
					float: right;
				}
			}
		}
	}	
}